<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Expense</h1>
    <form class="" action="/add" method="post">
      <label for="">Medicine</label>
      <input type="text" name="medicine" value=""><p>
        <label for="">Cost</label>
        <input type="text" name="cost" value=""><p>
        <input type="button" name="btn" value="Add" onclick="can();">
          </form>
  </body>
  <script type="text/javascript">
   function can(){
      location.href="/remove";
    }

  </script>
</html>
